n8n/edurisk_workflow_local_test.json
{
  "name": "EduRisk AI - Local API Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edurisk-predict-local",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gender",
              "name": "gender",
              "type": "string",
              "value": "={{$json.body.gender || $json.gender}}"
            },
            {
              "id": "age",
              "name": "age",
              "type": "number",
              "value": "={{$json.body.age || $json.age}}"
            },
            {
              "id": "course_type",
              "name": "course_type",
              "type": "string",
              "value": "={{$json.body.course_type || $json.course_type}}"
            },
            {
              "id": "attendance_rate",
              "name": "attendance_rate",
              "type": "number",
              "value": "={{$json.body.attendance_rate || $json.attendance_rate}}"
            },
            {
              "id": "assignment_submit_rate",
              "name": "assignment_submit_rate",
              "type": "number",
              "value": "={{$json.body.assignment_submit_rate || $json.assignment_submit_rate}}"
            },
            {
              "id": "quiz_average",
              "name": "quiz_average",
              "type": "number",
              "value": "={{$json.body.quiz_average || $json.quiz_average}}"
            },
            {
              "id": "login_count",
              "name": "login_count",
              "type": "number",
              "value": "={{$json.body.login_count || $json.login_count}}"
            },
            {
              "id": "video_watch_time",
              "name": "video_watch_time",
              "type": "number",
              "value": "={{$json.body.video_watch_time || $json.video_watch_time}}"
            },
            {
              "id": "forum_activity",
              "name": "forum_activity",
              "type": "number",
              "value": "={{$json.body.forum_activity || $json.forum_activity}}"
            },
            {
              "id": "previous_grade",
              "name": "previous_grade",
              "type": "string",
              "value": "={{$json.body.previous_grade || $json.previous_grade}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-student-data",
      "name": "Set Student Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.body || $json)}}",
        "options": {}
      },
      "id": "http-request-fastapi",
      "name": "HTTP Request - FastAPI Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        160
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - FastAPI Predict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - FastAPI Predict": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-16T00:00:00.000Z",
  "versionId": "edurisk-ai-local-test"
}
